:root {
	/* Colores */
	--dark-orange: #E17726;
	--soft-orange: #F5841F;
	--soft-blue: #204CBF;
	--dark-blue:#18066A;
	--dark-purple: #680599;
	--soft-purple: #9907B1;
	--just-black: #292929;
	--just-white:#F0F0F0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

html {
	font-size: 62.5%;
	font-family: 'inherir', 'Seoge UI', sans-serif;
	scroll-behavior: smooth; 
}



header {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Alien Encounters', sans-serif;
    background: linear-gradient(180.8deg, var(--dark-orange) 16.69%, var(--soft-purple) 100%);
    height: 12rem;
    width: 100%;
    max-height: 30%;
}


header h1 {
    font-size: 4rem;
    margin-top: 1.2rem;
    color: var(--just-white);
    font-weight: 500;
    text-shadow: var(--just-black);
    text-shadow: 4px 4px 1px var(--soft-purple);
}


.blackLine {
    border-color:  var(--just-black);
    height: 0.6rem;
    background-color: var(--just-black);
}

/*first secton*/

.site-card--cryptos {
    height: auto;
    width: 100%;
    padding: 4% 4%;
    display: inline-block;
    background: radial-gradient( var(--dark-purple),#2E1078);
    text-align: center;
}

.site-card--cryptos p {
    color: var(--just-white)
}


.main-exchange--subtitle {
    margin: 1rem;
    font-size: 1.8vh;
    text-shadow: 1.2px 1.2px 0.6px var(--soft-purple);
}



.site-card--logos {
    display: inline-block;
    align-self: center;
    justify-content: center;
    margin: 3.5rem 0;
}

.site-card--cryptos .site-card--card {
    height: 31%;
    margin: 5%;
    display:inline-block;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    background: linear-gradient(145.8deg, var(--soft-purple) 16.69%, var(--dark-blue) 100%);
    box-shadow: 0px 0px 3px var(--just-black);
}

.site-card--cryptos .site-card--card p {
    font-size: large;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    margin: 3rem 0;
    text-shadow: 2px 2px 5px var(--just-black);
}

.site-card--description1 {
    text-align:left;
    display: flex;
    width: 100%;
    font-family: 'Inherit', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    text-shadow: 1.2px 1.2px 0.6px var(--soft-purple);
    margin-top: 3rem; 
}


.site-card--description2 {
    display: flex;
    text-align: right;
    font-size: 1.2rem;
    font-family: 'Inherit', sans-serif;
    font-weight: 100;
    margin-top: 15rem;
    text-shadow: 1.2px 1.2px 0.6px var(--soft-purple); 
    width: 100%;
}

.orangeLine {
    border-color: var(--dark-orange);
    margin-bottom: 5rem;
}



/*second secton*/

.site-second {
    height: auto;
    padding: 4% 4%;
    width: 100%;
    background: linear-gradient(145.8deg, var(--soft-blue) 16.69%, var(--soft-purple) 100%);
    display: inline-block;
    text-align: center;
}

.site-second .site-second--triangles {
    display: flex;
    justify-content: center;
    margin-top: 2.6rem;
}

.site-second--card {
    height: 30%;
    margin-top: 1rem;
    margin-bottom: 3.4rem;
    display:inline-block;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    background: #3216ac;
    box-shadow: 0px 0px 3px var(--just-black);
    padding: 5% 5%;
}

.site-second--card p {
    font-size: medium;
    font-weight:bold;
    color: var(--just-white);
    text-shadow: 1.2px 1.2px 5px var(--soft-purple);
}

.site-second--card .bitcoin {
    color: var(--soft-orange);
}

.site-second--card .ethereum {
    color: var(--just-black);
    text-shadow: 0px 0px 3px var(--just-black);
}
.site-second--card .cardano {
    color: var(--soft-blue);
    text-shadow: 0px 0px 3px var(--dark-purple);
}
.site-second--card .solana {
    color: var(--soft-purple);
    text-shadow: 0px 0px 3px var(--dark-purple);
}

.site-second--button {
    width: 60%;
    max-width: 210px;
    padding-top: 0.5%;
    height: 3rem;
    border-radius: 6px;
    display: inline-block;
    justify-content: center;
    margin-bottom: 4rem;
    background: linear-gradient(100deg, var(--soft-orange) 16.69%, var(--dark-purple) 100%);
    color: var(--just-white);
    font-size: medium;
    box-shadow: 0px 0px 5px var(--just-black);
    text-shadow: 0px 0px 5px var(--just-black);
    font-weight: bold;
    text-decoration: none;
}

.site-second--text {
    font-size: small;
    font-weight: 300;
    font-family: 'Inherit', sans-serif;
    color: var(--just-white);
    text-shadow: 0px 0px 5px var(--just-black);
    margin: 5rem 0;
}
