header h1 {
    font-size: 8rem;
}

.site-card--cryptos .main-exchange--subtitle {
    margin-bottom: 10rem;
    font-size: xx-large;
}

.site-card--logos {
    display: flex;
    justify-content: space-between;
    margin: 3.5rem 25%;
}

.site-card--logos > img {
    transform: scale(1.6);
}

.site-card--cryptos .site-card--card p {
    font-size: xx-large;
    padding: 2%;
}

.site-card--description1 article, .site-card--description2 article {
    margin: 0 10%;
}
 

.site-card--description2 img, .site-card--description1 img {
    transform: scale(1.8);
}

.site-card--cryptos p, .site-second--text {
    font-size: large;
}


/*Second*/

.site-second .site-second--triangles img {
    transform: scale(1.5);
}

.site-second--card p {
    font-size: x-large;
}

/*Third*/

.third-section--currency-card--bar #amount, .third-section--currency-card--bar #result {
    font-size: x-large;
}

.third-section--currency-card h2 {
    font-size: 4rem;
}

#currencies--input, #currencies--output {
    font-size: x-large;
}


/*Footer*/

footer > p{
    font-size: medium;
}

.footer--links h3 {
    font-size: xx-large;
}

.footer--links a {
    font-size: x-large;
    width: 35%;
}

.footer--by {
    font-size: x-large;
}

.footer--github a {
    font-size: x-large;
}



.footer--repository {
    font-size: x-large;
}
